
.m1{
	font-family: "Arial";
}
#menu{
	background-color: #000;
	border-radius: 20px;
}
	
#menu ul{
list-style: none;
margin: 0;
padding: 0;
}
#menu ul li{
display: inline-block;
}
        
 #menu ul li a{
	color: white;
	 display: block;
	 padding: 20px 40px;
	 text-decoration: none;
}
#menu ul li a:hover{
	background-color: #42B881;
	border-radius: 20px;
}
#i1{
color:black;
	font-family: "arial";
	
}
p{
	font-family: "arial";
	font-size: 18px;
}
body{
	background-color: darkturquoise;
}
.p1{
	
	color: white;
	font-family: "arial";
	background-color: black;
	border-radius: 20px;
}
.p2{
	color: black;
	font-family: "arial";
}
.p3{
	color: black;
	font-family: "arial";
	
}
h2{
	font-family: "arial";
}
.p4{
	font-family: "arial";
}
.container{
	background-color: #171616;
	padding: 1em;
	overflow: hidden;
	border-radius: 20px;
}
.item{
	margin: 1em;
	padding: 1em;
	color: #ffffff;
	float: left;
}
#Tiburon1{
	background-color: darkgrey;
	border-radius: 20px;
}
#Tiburon2{
	background-color: darkgrey;
	border-radius: 20px;
}
#Tiburon3{
	background-color: darkgrey;
	border-radius: 20px;
}
#Tiburon4{
	background-color: darkgrey;
	border-radius: 20px;
}
#Tiburon5{ 
	background-color: darkgrey;
	border-radius: 20px;
}
#i2{
	color: white;
	background-color: black;
	border-radius: 20px;
	
}
h1{
	font-family: "Arial";
}
.i3{
	color: white;
	background-color: black;
	border-radius: 20px;
	padding: 1em;
}
.i4{
	color: white;
	background-color: black;
	border-radius: 20px;
	padding: 1em;
}
.p5{
	font-family: "Arial";
	background-color: darkgrey;
	border-radius: 10px;
	margin-top: 12px;
	margin-right: 14px;
	margin-left: 40px;
}
.i5{
	color: white;
	background-color: black;
	border-radius: 20px;
	padding: 1em;
}
.p6{
	font-family: "Arial";
	font-size: 18px;
}
.i6{
	color: white;
	background-color: black;
	border-radius: 20px;
	padding: 1em;
}
.l1{
	margin: 20px;
}